.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(241, 241, 241, 0.781);
    z-index: 1;
}
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
}
.right-section{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;

}
.hamburguer{
    height: 30px;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}
.search-icon{
    height: 30px;
    width: 40px;
    margin-right: 10px;
    margin-left: -1px;
    padding-left: 10px;
    cursor: pointer;
}
.search-icon-voice{
    height: 30px;
}
.search-box{
    flex: 1;
    height: 35px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.1);
}
.search-box::placeholder{
    font-family: Roboto,Arial;
    font-size: 20px;
}
.search-icon-button{
    margin-right: 10px;
    position:relative;
}
.search-voice-icon-button{
    background-color: rgba(0,0,0,0.15);
    border-style: none;
    border-radius: 200px;
    cursor: pointer;
}
.upload-icon{
    height: 30px;
    cursor: pointer;
}
.youtube-app-icon{
    height: 30px;
    cursor: pointer;
}
.notification-icon{
    height: 30px;
    cursor: pointer;
}
.channel-icon{
    height: 30px;
    border-radius: 200px;
    cursor: pointer;
}
.notification-icon-container{
    position:relative;
}
.notification-count{
    position: absolute;
    top:0;
    right:0;
    font-size: 12px;
    font-family: Roboto,Arial;
    background-color: rgb(206, 6, 6);
    color: white;
    padding: 2px 6px 2px 6px;
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    margin-right: -4px;
    cursor: pointer;
}
.tool-tip{
    background-color: rgb(168, 168, 168);
    color: white;
    position:absolute;
    padding: 4px 8px 4px 8px;
    bottom: -30px;
    font-size: 12px;
    opacity: 0;
    left: 9px;
}
.search-icon-button:hover .tool-tip{
    opacity: 1;
}
