.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-section{
    display: flex;
}
.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
}
.right-section{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;

}
.hamburguer{
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}
.search-icon{
    height: 30px;
    width: 40px;
    margin-right: 10px;
    margin-left: -1px;
    padding-left: 10px;

}
.search-icon-voice{
    height: 30px;
}
.search-box{
    flex: 1;
    height: 40px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    box-shadow: inset 1px 2px 5px rgba(0,0,0,0.1);
}
.search-box::placeholder{
    font-family: Roboto,Arial;
    font-size: 20px;
}
.search-icon-button{
    margin-right: 10px;
}
.search-voice-icon-button{
    background-color: rgba(0,0,0,0.15);
    border-style: none;
    border-radius: 200px;
    cursor: pointer;
}
.upload-icon{
    height: 30px;
}
.youtube-app-icon{
    height: 30px;
}
.notification-icon{
    height: 30px;
}
.channel-icon{
    height: 30px;
    border-radius: 200px;
}