.side-bar{
    position: fixed;
    top: 50px;
    left:0;
    bottom: 0;
    width: 72px;
}
.side-bar-link{
    height: 146px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.side-bar-link:hover{
    background-color: rgb(211, 211, 211);
}
.side-bar img{
    height: 30px;
}
.side-bar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}

